<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823493030945-79mudjodu034gqhr9722v2gld2phfvek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823493030945-79mudjodu034gqhr9722v2gld2phfvek</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>823493030945-6qu1ks4m0sudt4g9nd6r7bov04novn2j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5Jg2p0x6xwiEloWqWDwCVXwRHBGSyG0s</string>
	<key>GCM_SENDER_ID</key>
	<string>823493030945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.desense.restaurant.tulpen</string>
	<key>PROJECT_ID</key>
	<string>de-restaurant</string>
	<key>STORAGE_BUCKET</key>
	<string>de-restaurant.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823493030945:ios:1cd697f7423277e1831f60</string>
</dict>
</plist>